address {
  display: inline-block;
}

.contact-element {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.contact-element::before {
  content: "\2022";
  margin-right: 10px;
  font-size: 1.2em;
  color: var(--color-neutral-950);
}

.copy-email-button img {
  display: block;
}

.email {
  margin-left: 10px;
  margin-right: 10px;
}

.copy-infobox {
  position: absolute;
  background-color: var(--color-neutral-50);
  padding: 5px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-neutral-400);
}
