#filter {
  min-width: 100px;
  position: fixed;
  flex-direction: column;
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter-button {
  cursor: pointer;
}

#close-filter {
  display: none;
}

#filter-content {
  display: none;
  flex-direction: column;
  margin-top: 10px;
}

#filters {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.filter-action {
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid #000;
}

.filter-action:hover {
  background-color: #c5c5c5;
}
