#information-icon {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.5); /* --color-neutral-100 */
  border: 1px solid rgba(161, 161, 161, 0.5); /* --color-neutral-400 */
  border-radius: 50%;
  :-webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#information-icon:hover {
  background-color: var(--color-neutral-200);
}

#close-information {
  margin-left: auto;
  cursor: pointer;
}

#modal-backdrop {
  display: none;
  position: fixed;
  z-index: var(--z-index-modal-backdrop);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(115, 115, 115, 0.5); /* --color-neutral-500 */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

#information-modal {
  position: fixed;
  z-index: var(--z-index-modal);
  display: none;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: var(--color-neutral-50);
  padding: 20px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-neutral-400);
}

.info-modal-content {
  width: 100%;
}

#information-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.information-button {
  background-color: var(--color-neutral-500);
  padding: 5px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-neutral-400);
  margin: 0 5px;
}

.information-button:hover {
  cursor: pointer;
  background-color: var(--color-neutral-200);
}

#about-information-button {
  background-color: var(--color-neutral-300);
}

#view-information-button {
  display: none;
}

#about-information-button {
  display: none;
}

#view-information-content {
  display: none;
}
