body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family: sans-serif;
  font-size: 16px;
}

.manipulation-tool {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
