.modal-background {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 150px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-neutral-400);
}

.modal-content {
  background-color: var(--color-neutral-50);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--color-neutral-950);
  width: 50%;
  border-radius: var(--border-radius-large);
  font-family: var(--font-family-sans);
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: var(--color-neutral-950);
  text-decoration: none;
  cursor: pointer;
}
