#information-message-modal {
  display: none;
  align-items: center;
  background-color: #e1e1e1;
  padding: 10px;
  position: fixed;
  z-index: 1;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid #000;
}

#information-message-modal p {
  margin-left: 10px;
}
