.modal-background {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  width: 50%;
  border-radius: 15px;
  font-family: Arial, sans-serif;
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#visualize-button {
  border: 2px solid #4caf50;
  border-radius: 15px;
  color: black;
  background-color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

#visualize-button:hover,
#visualize-button:focus {
  background-color: #4caf50;
  color: white;
}

#event-selector {
  display: none;
}

div.align-right {
  display: flex;
  justify-content: flex-end;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

#logo {
  font-size: 40px;
  font-family: serif;
}

#logo-background {
  background-color: "#a6a6a6";
}

.small-text {
  font-size: 80%;
  color: grey;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}
