#available-views {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  max-height: 90px;
  overflow-y: auto;
}

.view-button {
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  height: fit-content;
}

#left-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 260px;
  height: fit-content;
  max-height: 63vh;
  background-color: #e1e1e1;
  padding: 15px 0px 15px 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

#views-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#close-views {
  display: none;
}

.views-handler {
  margin-right: 12px;
}

#views-menu-handler {
  cursor: pointer;
  margin-left: 10px;
}

#view-selector {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  width: fit-content;
}

.view-selector-menu::-webkit-scrollbar {
  width: 7px;
}

.view-selector-menu::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 5px;
}

.view-selector-menu::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 5px;
}

.view-selector-menu::-webkit-scrollbar-thumb:hover {
  background: #858585;
}
