.modal-background {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(115, 115, 115, 0.5); /* --color-neutral-500 */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.modal-content {
  background-color: var(--color-neutral-50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid var(--color-neutral-100);
  width: 50%;
  border-radius: var(--border-radius-large);
  font-family: var(--font-family-sans);
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: var(--color-neutral-950);
  text-decoration: none;
  cursor: pointer;
}
