#particle-details {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 8px 10px;
  font-size: 16px;
  background-color: rgba(229, 229, 229, 0.5); /* --color-neutral-100 */
  border: 1px solid rgba(161, 161, 161, 0.5); /*  --color-neutral-400 */
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#particle-details:not(.selected)::before {
  content: "Select an item to see more information";
}
