#switch-deploy {
  position: fixed;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: var(--z-index-modal);
  background-color: var(--color-neutral-50);
  padding: 5px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-neutral-950);
}

#switch-deploy-button {
  cursor: pointer;
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-950);
  padding: 5px;
  border-radius: var(--border-radius);
  font-family: var(--font-family-sans);
  font-size: 14px;
  cursor: pointer;
}

#switch-deploy-button:hover {
  background-color: var(--color-neutral-100);
}

#switch-deploy-text {
  margin: 0 7px 0 0;
}
