#available-views {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  overflow-y: auto;
}

.view-button {
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-400);
  border-radius: var(--border-radius);
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  height: fit-content;
}

.view-button:hover {
  background-color: var(--color-neutral-200);
}

#left-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 260px;
  height: fit-content;
  max-height: 63vh;
  background-color: rgba(229, 229, 229, 0.5); /* --color-neutral-100 */
  border: 1px solid rgba(161, 161, 161, 0.5); /*  --color-neutral-400 */
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 15px 0px 15px 10px;
}

#views-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#close-views {
  display: none;
}

.views-handler {
  margin-right: 12px;
}

#views-menu-handler {
  cursor: pointer;
  margin-left: 10px;
}

#view-selector {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  width: fit-content;
}
