#input-modal {
  display: none;
}

#input-modal-close-button {
  display: none;
  position: absolute;
  cursor: pointer;
}

#visualize-button {
  border: 1px solid var(--color-lime-500);
  border-radius: var(--border-radius-large);
  color: var(--color-lime-500);
  font-weight: bold;
  background-color: var(--color-neutral-50);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

#visualize-button:hover,
#visualize-button:focus {
  background-color: var(--color-lime-500);
  color: var(--color-neutral-50);
}

#input-modal-file-input {
  cursor: pointer;
}

#event-selector {
  display: none;
}

#input-modal-view-selector {
  display: none;
}
