.logo-d {
  color: #6e84f8;
  font-style: italic;
  font-size: 40px;
  font-family: serif;
}

.logo-m {
  color: #2b3fa4;
  font-style: italic;
  font-size: 40px;
  font-family: serif;
}

.logo-x {
  color: #9e2c2c;
  font-size: 60px;
  font-family: serif;
}
