name: on-pull-request
run-name: on pull request activity

on:
    pull_request_target:
        types:
            - opened
            - reopened
            - synchronize
            - closed
permissions:
    contents: write
    pull-requests: write
jobs:
    build-preview:
        uses: ./.github/workflows/preview.yml
