name: Deploy dmX to GitHub Pages
on:
    push:
        branches: [main]

permissions:
    contents: write
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                  folder: .
                  clean-exclude: |
                      pr-preview/
                      beta/
                  target-folder: main/
